@model IEnumerable<Inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<h1>Inmuebles</h1>

<div class="row">
    <div class="col-md-4">
        <form classContrato" asp-action="Create" method="get">
            <div class="form-group">
                <label for="q" class="control-label"></label>
                <input name="q" class="form-control" placeholder="Nombre o apellido de propietario" id="q" />
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="estado" name="estado" size="3">
                <label class="custom-control-label" for="estado">Solo disponibles</label>
            </div>
            <div class="form-group">
                <label for="fechaInicio" class="control-label">Desde: </label>
                <input type="date" name="fechaInicio" class="form-control" id="fechaInicio" />
            </div>
            <div class="form-group">
                <label for="fechaFin" class="control-label">Hasta: </label>
                <input type="date" name="fechaFin" class="form-control" id="fechaFin" />
            </div>
            <div class="form-group">
                <input type="button" id="busqueda_inmuebles" value="Buscar" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input type="submit" value="Nuevo contrato" class="btn btn-primary" id="nuevo_contrato"/>
            </div>
        </form>
    </div>
</div>
<table class="table table-bordered table-responsive-md">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPropietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="inmuebles">
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.IdInmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td class="text-right"> 
                    @Html.DisplayFor(modelItem => item.Ambientes)
                </td>
                <td class="text-right">
                    @("$" + item.Precio)
                </td>
                <td>
                    @(item.Propietario.Nombre + " " + item.Propietario.Apellido)
                </td>
                <td>
                    @(item.Estado ? "Disponible" : "No disponible")
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
                    {
                        <a class="iconoLista" asp-action="Delete" asp-route-id="@item.IdInmueble" title="Eliminar">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                    <a class="iconoLista" asp-action="Edit" asp-route-id="@item.IdInmueble" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="iconoLista" asp-controller="Contrato" asp-action="Index" asp-route-id="@item.IdInmueble" title="Contratos">
                        <i class="fas fa-scroll"></i>
                    </a>
                    <a class="iconoLista" asp-controller="Contrato" asp-action="Create" asp-route-id="@item.IdInmueble" title="Nuevo contrato">
                        <i class="fas fa-file-signature"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
    <p>
        <a asp-action="Create" class="btn btn-primary btn-outline-dark">Nuevo inmueble</a>
    </p>

<script id="t_inmuebles" type="x-tmpl-mustache">
    {{#datos}}
    <tr>
        <td>{{idInmueble}}</td>
        <td>{{direccion}}</td>
        <td>{{uso}}</td>
        <td>{{tipo}}</td>
        <td>{{ambientes}}</td>
        <td>${{precio}}</td>
        <td>{{propietario.nombre}} {{propietario.apellido}}</td>
        {{#estado}}
        <td>Disponible</td>
        {{/estado}}
        {{^estado}}
        <td>No disponible</td>
        {{/estado}}
        <td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
            {
                <a class="iconoLista" href="Inmueble/Delete/{{idInmueble}}" title="Eliminar">
                    <i class="fas fa-trash-alt"></i>
                </a>
            }
            @{
                <a class="iconoLista" href="Inmueble/Edit/{{idInmueble}}" title="Editar">
                    <i class="fas fa-file-signature"></i>
                </a>
                <a class="iconoLista" href="Contrato/Index/{{idInmueble}}" title="Contratos">
                    <i class="fas fa-scroll"></i>
                </a>
                <a class="iconoLista" href="Contrato/Create/{{idInmueble}}" title="Nuevo contrato">
                    <i class="fas fa-file-signature"></i>
                </a>



            }
        </td>

    </tr>
    {{/datos}}
</script>
@section Scripts {
    <script>
	document.querySelector("#busqueda_inmuebles").addEventListener("click", (e) => {
        e.preventDefault();
        var query = $("#q").val();
        if (query == null || query == "") {
            query = " ";
        }
        var estado = $("#estado").is(':checked');
        var fechaInicio = $("#fechaInicio").val();
        var fechaFin = $("#fechaFin").val();
        if (fechaInicio == "" || fechaFin == "") {
                $.get(`@Url.Action("Busqueda", "Inmueble")/${query}/${estado}`).done((res) => {
                console.log(res);
			    var template = document.getElementById('t_inmuebles').innerHTML;
			    var rendered = Mustache.render(template, res);
                    document.getElementById('inmuebles').innerHTML = rendered;
                    return false;
        });
        }
        $.get(`@Url.Action("Busqueda", "Inmueble")/${query}/${estado}/${fechaInicio}/${fechaFin}`).done((res) => {
            console.log(res);
			var template = document.getElementById('t_inmuebles').innerHTML;
			var rendered = Mustache.render(template, res);
			document.getElementById('inmuebles').innerHTML = rendered;
        });
        return false;
    });
        document.querySelector("#nuevo_contrato").addEventListener("click", (e) => {
            e.preventDefault();
            var query = $("#q").val();
            if (query == null || query == "") {
             query = " ";
            }
            var estado = $("#estado").is(':checked');
            var fechaInicio = $("#fechaInicio").val();
            var fechaFin = $("#fechaFin").val();
            if (fechaInicio == "" || fechaFin == "") {
                window.Alert("Por favor seleccione un rango de fechas", "Error");
                return false;
            }
            document.location = `@Url.Action("Create", "Contrato")/${query}/${estado}/${fechaInicio}/${fechaFin}`
            return false;
    });
    </script>
}