@model IEnumerable<Inmobiliaria.Models.Propietario>

@{
    ViewData["Title"] = "Propietarios";
}

<h1>Propietarios</h1>


<table class="table table-bordered table-responsive-md" >
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPropietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.IdPropietario)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
                    {
                        <a class="iconoLista" asp-action="Delete" asp-route-id="@item.IdPropietario" title="Eliminar">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                        <a class="iconoLista" asp-action="Edit" asp-route-id="@item.IdPropietario" title="Editar">
                            <i class="fas fa-edit"></i>
                        </a>

                    </td>
            </tr>
        }
    </tbody>

</table>
<br />
<ul class="pagination pagination-sm justify-content-center">
    @for (int i = 0; i < ViewBag.NumeroPaginas; i++)
    {
        <li class="page-item"><a class="page-link" href="@Url.RouteUrl("Paginado", new { pagina = i})" class="justify-content-md-center">@i</a></li>
    }
</ul>

<br />
<p>
    <a asp-action="Create" class="btn btn-primary btn-outline-dark">Nuevo propietario</a>
</p>
