@model IEnumerable<Inmobiliaria.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos";
}

<h1>Inquilinos</h1>


<table class="table table-bordered table-responsive-md">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoGarante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreGarante)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.TelefonoGarante)
                </td>

                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
                    {
                        <a class="iconoLista" asp-action="Delete" asp-route-id="@item.Id" title="Eliminar">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                    <a class="iconoLista" asp-action="Edit" asp-route-id="@item.Id" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br/>
<p>
    <a asp-action="Create" class="btn btn-primary btn-outline-dark">Nuevo inquilino</a>
</p>
