@model IEnumerable<Inmobiliaria.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Pagos</h1>


<table class="table table-bordered table-responsive-md">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDePago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @("Contrato Nº " + item.IdContrato)
                </td>
                <td class="text-right">
                    $@Html.DisplayFor(modelItem => item.Importe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDePago)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
                    {
                        <a class="iconoLista" asp-action="Delete" asp-route-id="@item.Id" title="Eliminar">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                    <a class="iconoLista" asp-action="Edit" asp-route-id="@item.Id" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@if (ViewBag.IdContrato != null)
{
    <p>
        <a class="btn btn-primary btn-outline-dark" asp-action="Create" asp-route-id="@ViewBag.IdContrato">Nuevo pago</a>
    </p>
}
