@model Inmobiliaria.Models.Contrato

@{ 
    
    ViewData["Title"] = "Nuevo contrato" ;
}


<h4>Datos del contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" type="date" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" type="date" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoAlquiler" class="control-label" ></label>
                <input asp-for="MontoAlquiler" class="form-control" id="importe" onload="modificarImporte()" />
                <span asp-validation-for="MontoAlquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Inquilino</label>
                <select asp-for="IdInquilino" class="form-control" name="IdInquilino" >
                    @foreach (var inquilino in (List<Inquilino>)ViewBag.inquilinos)
                    {
                        <option value="@inquilino.IdInquilino">@(inquilino.Nombre + " "+ inquilino.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="IdInquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Inmueble</label>
                <select asp-for="IdInmueble" class="form-control" name="IdInmueble" onchange="modificarImporte()" id="inmueble" >
                    @foreach (var inmueble in (List<Inmueble>)ViewBag.inmuebles)
                    {
                        <option montoAlquiler="@inmueble.Precio"value="@inmueble.IdInmueble"> @(inmueble.Tipo + " ubicado/a en " + inmueble.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="IdInmueble" class="text-danger"></span>
            </div>
            <span asp-validation-for="IdInmueble" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al índice</a>
</div>
<script language="JavaScript" type="text/javascript">
    function modificarImporte() {
        inputImporte = document.getElementById("importe");
        valorImporte = $("#inmueble").find(':selected').attr('montoAlquiler');
        inputImporte.value = valorImporte;
    }

    window.onload = modificarImporte();
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
