@model IEnumerable<Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<h1>Contratos</h1>

<div class="row">
    <div class="col-md-4">
        <form id="busqueda_contratos">
            <div class="form-group">
                <label for="fechaDesde" class="control-label">Desde:</label>
                <input type="date" name="fechaDesde" class="form-control" id="fechaDesde" />
            </div>
            <div class="form-group">
                <label for="fechaHasta" class="control-label">Hasta:</label>
                <input type="date" name="fechaHasta" class="form-control" id="fechaHasta" />
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table table-bordered table-responsive-md">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoAlquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="inmuebles">
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.IdContrato)
                </td>
                <td>
                    @(item.FechaInicio.Date.ToShortDateString())
                </td>
                <td>
                    @(item.FechaFin.Date.ToShortDateString())
                </td>
                <td class="text-right"> 
                    @("$"+item.MontoAlquiler)
                </td>
                <td>
                    @(item.Inquilino.Nombre+" "+item.Inquilino.Apellido)
                </td>
                <td>
                    @(item.Inmueble.Tipo+" ubicado/a en "+item.Inmueble.Direccion)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
                    {
                        <a class="iconoLista" asp-action="Delete" asp-route-id="@item.IdContrato" title="Eliminar">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                    <a class="iconoLista" asp-action="Edit" asp-route-id="@item.IdContrato" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="iconoLista" asp-controller="Pago" asp-action="Index" asp-route-id="@item.IdContrato" title="Pagar">
                        <i class="fas fa-wallet"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@if (ViewBag.IdInmueble != null)
{
    <p>
        <a asp-action="Create" asp-route-id="@ViewBag.IdInmueble" class="btn btn-primary btn-outline-dark">Nuevo contrato</a>
    </p>
}
else
{
    <p>
        <a asp-action="Create" class="btn btn-primary btn-outline-dark">Nuevo contrato</a>
    </p>
}
<script id="t_contratos" type="x-tmpl-mustache">
    {{#datos}}
    <tr>
        <td>{{idContrato}}</td>
        <td>{{fechaInicio}}</td>
        <td>{{fechaFin}}</td>
        <td>${{montoAlquiler}}</td>
        <td>{{inquilino.nombre}} {{inquilino.apellido}}</td>
        <td>{{inmueble.tipo}} ubicado/a en {{inmueble.direccion}}</td>
        <td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
            {
                <a class="iconoLista" href="Inmueble/Delete/{{idContrato}}" title="Eliminar">
                    <i class="fas fa-trash-alt"></i>
                </a>
            }
            @{
                <a class="iconoLista" href="Inmueble/Edit/{{idContrato}}" title="Editar">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="iconoLista" href="Pago/Index/{{idContrato}}" title="Editar">
                    <i class="fas fa-wallet"></i>
                </a>
            }
        </td>
    </tr>
    {{/datos}}
</script>
@section Scripts {

    <script>
                document.querySelector("#busqueda_contratos").addEventListener("submit", (e) => {
                e.preventDefault();
                var fechaDesde = $("#fechaDesde").val();
                var fechaHasta = $("#fechaHasta").val();
                $.get(`@Url.Action("BuscarVigentes", "Contrato")/${fechaDesde}/${fechaHasta}`).done((res) => {
                    console.log(res);
			        var template = document.getElementById('t_contratos').innerHTML;
			        var rendered = Mustache.render(template, res);
			        document.getElementById('inmuebles').innerHTML = rendered;
                });
                return false;
            });
    </script>
}
